.container{
    width: 960px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 148px;
    background-color: green;
    display: block;
    padding: 7px;
    margin: 7px;
}
.side-nav {
    height: 345px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
.main {
    height: 360px;
    width: 700px;
    background-color: red;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.sub-content {
    height: 190px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
#advertisement {
    height: 120px;
    width: 675px;
    background-color: purple;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}